.modal-filters {
	@include object(340px, 705px, '');
	@include flex(center, center, column);

	p {
		width: 100%;
		padding: 18px;
		text-align: center;
		border-bottom: 1px solid $border-color;
	}
}

.modal-filter-container {
	@include flex(space-between, center, '');
	flex-wrap: wrap;
	height: 100%;
	padding: 12px 18px;
	overflow-y: scroll;
}

.modal-filter {
	@include object(88px, 88px, '');
	text-align: center;
	margin: 12px 0 24px 0;

	img {
		border-radius: $border-radius-size;
		cursor: pointer;
	}
}

.modal-filter-name {
	@include font(12px, gray, '', '');
}

// .active {
// 	color: $point-color;
// }
