#modal-content {
	@include object(340px, 705px, '');
	@include flex(center, center, column);
}

.modal-content-header {
	@include flex('', center, '');
	@include font(16px, '', bold, '');
	width: 100%;
	padding: 18px;
}

.modal-content-header-avatar {
	@include object(28px, 28px, '');
	margin-right: 14px;

	img {
		border-radius: 50%;
	}
}

.modal-content-body {
	@include object(100%, 100%, '');
	@include font(16px, #262626, '', '');

	textarea {
		@include object(100%, 200px, '');
		border: 0;
		padding: 0 16px;
		overflow: auto;
		resize: none;
		line-height: 24px;
	}
}

.modal-content-location {
	@include flex(space-between, center, '');
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: 8px;

	label {
		width: 100%;
	}

	input {
		border: 0;
		padding: 4px 9px;
		width: inherit;
	}

	i {
		margin-right: 8px;
	}
}
