#user {
	@include flex('', center, '');
	width: auto;
	// border: 1px solid red;
	padding: 16px 0;

	img {
		@include object(56px, 56px, '');
		border-radius: 50%;
		margin-right: 16px;
	}

	small {
		@include font(14px, black, bold, '');
	}
}
