.user-suggestion-header {
	@include flex(space-between, center, '');
	padding: 4px 0;
	margin-bottom: 8px;

	li {
		@include font(12px, '', bold, '');
		cursor: pointer;

		&:first-child {
			@include font(14px, gray, '', '');
		}
	}
}

.user-suggestion-list {
	@include flex(space-between, center, '');
	margin: 4px 0;
}

.user-suggestion-list-id {
	@include flex('', center, '');

	li {
		@include flex('', center, '');

		&:first-child {
			@include object(42px, 42px, '');

			img {
				@include object(32px, 32px, '');
				border-radius: 50%;
			}
		}
		&:last-child {
			font-size: 14px;
			font-weight: bold;
			cursor: default;
		}
	}
}

.user-suggestion-list-follow {
	@include font(12px, white, '', '');
	border: 0;
	background-color: $point-color;
	padding: 4px 8px;
	border-radius: $border-radius-size;
}

.followed {
	background-color: white;
	border: 1px solid $point-color;
	color: $point-color;
}

.user-suggestion-container {
	max-height: 235px;
	overflow-y: hidden;
}

.all {
	max-height: none;
}
