.modal-content-container {
	height: 100%;
}

#modal-content {
	@include object(405px, inherit, '');
	@include flex(center, center, column);
}

.modal-content-header,
.modal-content-footer {
	@include flex('', center, '');
	width: 100%;
}

.modal-content-header {
	padding: 14px;
	border-bottom: 1px solid $border-color;

	ul {
		width: 100%;
	}
	i {
		cursor: pointer;
	}
}

.modal-content-header-avatar {
	@include object(32px, 32px, '');
	margin-right: 14px;

	img {
		@include object(inherit, inherit, '');
		border-radius: 50%;
	}
}

.modal-content-header-name {
	@include font(14px, '', bold, 'Roboto');
}

.modal-content-header-loacation {
	font-size: 12px;
	padding-top: 4px;
}

.modal-content-body {
	@include object(100%, 100%, '');
	@include flex('', '', column);
	display: flex;
	padding: 14px;
}

.modal-content-footer {
	@include flex('', center, column);
	border-top: 1px solid $border-color;
}
