//// Sizes
$border-radius-size: 3px;
$nav-width: 975px;
$nav-height: 60px;

//// Colors
$point-color: royalblue;
$bg-color: #fafafa;
$bg-color-gray: rgb(250, 250, 250);
$hover-color-gray: rgba(190, 190, 190, 0.15);
$border-color: #ccc;
