#post {
	@include object(100%, auto, white);
	border: 1px solid $border-color;
	border-radius: $border-radius-size;
	padding: 16px;
}

.post-header-container {
	@include flex(space-between, center, '');
}

.post-header-user {
	@include flex('', center, '');

	li {
		overflow: hidden;

		&:first-child {
			margin-right: 8px;
		}
	}
}

.post-header-user-img {
	@include object(32px, 32px, '');
	border: 1px solid $border-color;
	border-radius: 50%;
}

// footer
.post-footer-container {
	font-size: 12px;
}

.post-like {
	margin-bottom: 8px;

	p {
		font-weight: bold;
	}
}

.post-like-icons {
	@include flex('', '', '');
	margin-bottom: 12px;

	li {
		@include object(24px, 24px, '');
		margin-right: 8px;

		i {
			font-size: 24px;
		}
	}
}

.post-footer-username {
	font-weight: bold;
	margin-right: 3px;
}

.post-footer-comment {
	@include flex(space-between, '', '');
	margin-top: 8px;
}
