#story {
	@include flex(center, center, column);

	li {
		overflow: hidden;
	}
}

.story-img {
	@include object(56px, 56px, '');
	border: 1px solid $border-color;
	border-radius: 50%;
}

.story-id {
	margin-top: 4px;
	font-size: 12px;
}
