#storys {
	@include flex(space-between, center, '');
	background-color: white;
	margin-bottom: 24px;
	border: 1px solid $border-color;
	border-radius: $border-radius-size;
	padding: 16px;
	margin-bottom: 24px;
}
